<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des prix</title>
</head>
<body>
<h1>Liste des prix</h1>

<a th:href="@{/prices/create}">Créer un nouveau price</a>

<ul th:if="${prices}">
    <li th:each="p : ${prices}">
        <a th:href="@{/prices/{id}(id=${p.id})}"
           th:text="${p.type}">Type</a>
        - <span th:text="${p.amount}">0.00</span>
        (<form th:action="@{/prices/{id}(id=${p.id})}" method="post" style="display:inline;">
        <input type="hidden" name="_method" value="delete"/>
        <button type="submit">Supprimer</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>)
        <a th:href="@{/prices/{id}/edit(id=${p.id})}">Modifier</a>
    </li>
</ul>

</body>
</html>