<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Project Reservation</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/header.css}"/>
    </th:block>

    <style>
        header {
            min-height: 6vh;
        }

        main {
            min-height: 88vh;
        }

        footer {
            min-height: 6px;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header here</div>

<header>
    <div id="notification" layout:fragment="notification">
        <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div layout:fragment="content">Main content will be inserted here.</div>
    </div>
</main>

<!-- **C’est ici que sera inséré votre fragment “content”** -->
<!--<div class="container" layout:fragment="content">-->
<!--    Main content will be inserted here.-->
<!--</div>-->
<footer>
    <div th:replace="~{fragments/footer :: footer}">&copy; 2024/2025 - ICC - Groupe PID Reservation</div>
    <th:block layout:fragment="scripts"></th:block>
</footer>
</body>
</html>
