<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Modifier une localité</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1>Modifier la localité</h1>

        <form th:action="@{/localities/{id}/edit(id=${localityForm.id})}" th:object="${localityForm}" method="post">
            <input type="hidden" name="_method" value="put"/>

            <label for="postalCode">Code postal :</label>
            <input type="text" id="postalCode" th:field="*{postalCode}" required/>
            <br/>

            <label for="locality">Nom de la localité :</label>
            <input type="text" id="locality" th:field="*{locality}" required/>
            <br/>

            <button type="submit">Enregistrer</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>

        <nav>
            <a th:href="@{/localities}">Retour à la liste</a>
        </nav>
    </div>
</div>
</body>
</html>