<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Détails d'une localité</title>
    <style>
        .containerDivImportant {
            width: 80%;
            max-width: 900px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="containerDivImportant" layout:fragment="content">
    <h1 th:text="|${locality.postalCode} ${locality.locality}|">1000 Bruxelles</h1>

    <ul th:unless="${#lists.isEmpty(locality.locations)}">
        <li th:each="location : ${locality.locations}" th:text="${location.designation}">Dexia Art Center</li>
    </ul>

    <p th:if="${#lists.isEmpty(locality.locations)}">Aucun lieu de spectacle.</p>

    <nav>
        <a th:href="@{/localities}">Retour à la liste</a>
    </nav>
</div>


</body>
</html>
