<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New artist</title>
    <link rel="stylesheet" href="/css/formulaire/formulaire.css">
    <style>
        .fieldError { color: red; }
    </style>
</head>
<body>
<div class="container">
    <div id="notification" th:replace="~{main :: notification}"></div>
    <div layout:fragment="content">
        <h1>New artist</h1>

        <form th:action="@{/artist/create}" th:object="${artist}" th:method="post">
            <div>
                <label for="troupe">Troupe :</label>
                <select id="troupe" name="troupeId" th:field="*{troupe}">
                    <option value="0" selected>Non affilié</option>
                    <option th:each="troupe : ${troupes}" th:value="${troupe.id}" th:text="${troupe.name}">
                        Nom de la troupe
                    </option>
                </select>
            </div>


            <div>
                <label>Firstname:</label>
                <input type="text" th:field="*{firstname}">
                <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <label>Lastname:</label>
                <input type="text" th:field="*{lastname}">
                <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <button type="submit" th:text="Add">Add</button>
                <a th:href="@{/artists}">Cancel</a>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>

        <nav><a th:href="@{/artists}"> Back to the index</a></nav>
        <div class="action" sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/backoffice}">Retour au Backoffice</a></nav>
        </div>
    </div>
</div>
</body>
</html>
